.page {
    float: none;
    width: 100%;
}

/* SVG css  */

.svg-inner {
 fill:green;
 stroke:green;
 stroke-width:6;
 opacity=.6;
 r: 10;
}

.svg-outer {
  fill: none;
  stroke: #98fb98;
  stroke-width: 4;
  opacity: .6;
  r: 25;
}

.svg-map-label {
  font-size: 55px;
  font-family: 'Verdana', sans-serif;
  text-anchor: start;
  fill: black;
  visibility: hidden;
}

.svg-outer:hover ~ .svg-map-label {
  visibility: visible;
}

.svg-inner:hover ~ .svg-map-label {
  visibility: visible;
}

/* position thumb on garden detail */

/* .parent {
  position: absolute;
  top: 0;
  left: 0;
} */

/* .g-det {
  position: ;
  border: 1px solid #000000;
} */

.g-thumb {
  position: absolute;
  top: 0;
  left: 80%;
  border: 2px solid #000000;
  width="10%"
}
